### Pandas 时间处理

#### datetime 是python 处理时间和日期的标准库

- 获取当前日期和时间

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [4]:
print(now)

2019-03-04 23:40:11.799951

In [5]:
print(type(now))

<class 'datetime.datetime'>

- 获取指定日期和时间

In [6]:
from datetime import datetime

In [7]:
# 用指定的日期时间创建 datetime
dt = datetime(2019,4,19,23,42)

In [8]:
print(dt)

2019-04-19 23:42:00

- datetime 转换为 timestamp

In [9]:
dt.timestamp()

1555688520.0

- timestamp 转换为 datetamp

In [11]:
t = 1429417200.0

In [13]:
print(datetime.fromtimestamp(t)) # 本地时间

2015-04-19 12:20:00

In [14]:
print(datetime.utcfromtimestamp(t)) #utc时间

2015-04-19 04:20:00

- str 转为 datetime

In [16]:
cday = datetime.strptime('2019-03-01 23:42:02', '%Y-%m-%d %H:%M:%S')

In [17]:
print(cday)

2019-03-01 23:42:02

- datetime 转为 str

In [18]:
now = datetime.now()

In [19]:
print(now.strftime('%a,%b %d %H %M'))

Mon,Mar 04 23 51

- datetime 加减

In [21]:
now

datetime.datetime(2019, 3, 4, 23, 51, 42, 802534)

In [22]:
from datetime import datetime, timedelta

In [23]:
now = datetime.now()

In [27]:
datetime(2019,5,16,18,57,3,540997)

datetime.datetime(2019, 5, 16, 18, 57, 3, 540997)

In [28]:
now + timedelta(hours = 10)

datetime.datetime(2019, 3, 5, 9, 54, 34, 969509)

- 本地时间转换为UTC时间

In [30]:
from datetime import timezone

In [31]:
tz_utc_8 = timezone(timedelta(hours=8))

In [32]:
now

datetime.datetime(2019, 3, 4, 23, 54, 34, 969509)

In [33]:
dt = now.replace(tzinfo = tz_utc_8)

In [34]:
dt

datetime.datetime(2019, 3, 4, 23, 54, 34, 969509, tzinfo=datetime.timezone(datetime.timedelta(seconds=28800)))

- 时区转换

#### pandas.to_datetime()