## 基本操作

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.4'

In [4]:
# 从列表创建series
arr = [0,1,2,3,4]
df = pd.Series(arr)  # 如果不指定索引，则默认从0开始
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
# 从字典创建Series
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df1 = pd.Series(d)
df1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
#  从numpy 数组创建DataFrame
import numpy as np
dates = pd.date_range('today',periods=6) # 定义时间序列作为index
num_arr = np.random.randn(6,4)  # 传入numpy随机数组
columns = ['A','B','C','D'] # 将列表作为列名
df2 = pd.DataFrame(num_arr,index=dates, columns=columns)
df2

                                   A         B         C         D
2020-08-30 22:54:29.321643  2.032663  0.385450 -0.010243  1.154781
2020-08-31 22:54:29.321643 -0.182463 -0.338246  0.731526  0.530316
2020-09-01 22:54:29.321643 -0.040759  0.623192  0.083712 -1.117300
2020-09-02 22:54:29.321643 -0.554704  1.537456 -0.651028 -1.317217
2020-09-03 22:54:29.321643 -0.732249  1.216482 -0.515508 -0.749610
2020-09-04 22:54:29.321643  0.918259  0.456396 -1.112351  1.004592

In [8]:
# 从CSV中创建DataFrame , 分隔符为;  编码为gbk
# df3 = pd.read_csv('1.csv',encoding='gbk',sep=';')

In [9]:
# 从字典对象data创建DataFrame ，设置索引为labels
data = {
    'animal':['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age':[2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority':['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(data,index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no