## 基本操作

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.4'

In [3]:
# 从列表创建series
arr = [0,1,2,3,4]
df = pd.Series(arr)  # 如果不指定索引，则默认从0开始
df

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [4]:
# 从字典创建Series
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
df1 = pd.Series(d)
df1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [5]:
#  从numpy 数组创建DataFrame
import numpy as np
dates = pd.date_range('today',periods=6) # 定义时间序列作为index
num_arr = np.random.randn(6,4)  # 传入numpy随机数组
columns = ['A','B','C','D'] # 将列表作为列名
df2 = pd.DataFrame(num_arr,index=dates, columns=columns)
df2

                                   A         B         C         D
2020-08-31 13:15:47.898575  0.081680  1.291302 -0.770543 -0.328994
2020-09-01 13:15:47.898575 -0.479907 -0.479095  0.774325  0.271339
2020-09-02 13:15:47.898575 -0.010449 -0.269026  1.066734  0.756860
2020-09-03 13:15:47.898575 -2.050357  1.798149 -0.451090 -0.153442
2020-09-04 13:15:47.898575 -2.239135 -1.167749  0.197587  0.912157
2020-09-05 13:15:47.898575 -0.344180 -2.221487 -0.267371  0.153351

In [6]:
# 从CSV中创建DataFrame , 分隔符为;  编码为gbk
# df3 = pd.read_csv('1.csv',encoding='gbk',sep=';')

In [7]:
# 从字典对象data创建DataFrame ，设置索引为labels
data = {
    'animal':['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age':[2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority':['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(data,index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [8]:
# 显示DataFrame的基础信息，包括行的数量、列名、每一列值的数量、类型
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
animal      10 non-null object
age         8 non-null float64
visits      10 non-null int64
priority    10 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [9]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [17]:
# 显示df的前3行
df[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [18]:
df.iloc[:3]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [19]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [21]:
# 取出df的 animal和age列
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0