In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
path1 = "./dataset/exercise_data/chipotle.tsv"

## 探索chipotle快餐数据

In [17]:
chipotle= pd.read_csv(path1,sep='\t')

In [18]:
chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [19]:
# 查看前10行
chipotle.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [20]:
# 查看数据行列
chipotle.shape

(4622, 5)

In [22]:
# 查看数据有多少列
chipotle.shape[1]

5

In [23]:
# 打印全部列的名称
chipotle.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [24]:
# 打印全部的索引
chipotle.index

RangeIndex(start=0, stop=4622, step=1)

In [30]:
# 被下单数最多的商品是什么
c = chipotle[['item_name','quantity']].groupby(['item_name'],as_index=False).agg({'quantity':sum})

In [31]:
c

                                item_name  quantity
0                       6 Pack Soft Drink        55
1                           Barbacoa Bowl        66
2                        Barbacoa Burrito        91
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
5                     Barbacoa Soft Tacos        25
6                           Bottled Water       211
7                                    Bowl         4
8                                 Burrito         6
9                             Canned Soda       126
10                      Canned Soft Drink       351
11                          Carnitas Bowl        71
12                       Carnitas Burrito        60
13                  Carnitas Crispy Tacos         8
14                         Carnitas Salad         1
15                    Carnitas Salad Bowl         6
16                    Carnitas Soft Tacos        40
17                           Chicken Bowl       761
18                        Chicken Burrito       591
19                   Chicken Crispy Tacos        50
20                          Chicken Salad         9
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
23                                  Chips       230
24           Chips and Fresh Tomato Salsa       130
25                    Chips and Guacamole       506
26      Chips and Mild Fresh Tomato Salsa         1
27     Chips and Roasted Chili Corn Salsa        23
28     Chips and Roasted Chili-Corn Salsa        18
29  Chips and Tomatillo Green Chili Salsa        45
30    Chips and Tomatillo Red Chili Salsa        50
31  Chips and Tomatillo-Green Chili Salsa        33
32    Chips and Tomatillo-Red Chili Salsa        25
33                           Crispy Tacos         2
34                                   Izze        20
35                       Nantucket Nectar        29
36                                  Salad         2
37                          Side of Chips       110
38                             Steak Bowl       221
39                          Steak Burrito       386
40                     Steak Crispy Tacos        36
41                            Steak Salad         4
42                       Steak Salad Bowl        31
43                       Steak Soft Tacos        56
44                            Veggie Bowl        87
45                         Veggie Burrito        97
46                    Veggie Crispy Tacos         1
47                           Veggie Salad         6
48                      Veggie Salad Bowl        18
49                      Veggie Soft Tacos         8

In [33]:
# 倒序
c.sort_values(['quantity'],ascending=False)

                                item_name  quantity
17                           Chicken Bowl       761
18                        Chicken Burrito       591
25                    Chips and Guacamole       506
39                          Steak Burrito       386
10                      Canned Soft Drink       351
23                                  Chips       230
38                             Steak Bowl       221
6                           Bottled Water       211
24           Chips and Fresh Tomato Salsa       130
9                             Canned Soda       126
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
37                          Side of Chips       110
45                         Veggie Burrito        97
2                        Barbacoa Burrito        91
44                            Veggie Bowl        87
11                          Carnitas Bowl        71
1                           Barbacoa Bowl        66
12                       Carnitas Burrito        60
43                       Steak Soft Tacos        56
0                       6 Pack Soft Drink        55
30    Chips and Tomatillo Red Chili Salsa        50
19                   Chicken Crispy Tacos        50
29  Chips and Tomatillo Green Chili Salsa        45
16                    Carnitas Soft Tacos        40
40                     Steak Crispy Tacos        36
31  Chips and Tomatillo-Green Chili Salsa        33
42                       Steak Salad Bowl        31
35                       Nantucket Nectar        29
32    Chips and Tomatillo-Red Chili Salsa        25
5                     Barbacoa Soft Tacos        25
27     Chips and Roasted Chili Corn Salsa        23
34                                   Izze        20
48                      Veggie Salad Bowl        18
28     Chips and Roasted Chili-Corn Salsa        18
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
20                          Chicken Salad         9
13                  Carnitas Crispy Tacos         8
49                      Veggie Soft Tacos         8
8                                 Burrito         6
47                           Veggie Salad         6
15                    Carnitas Salad Bowl         6
7                                    Bowl         4
41                            Steak Salad         4
36                                  Salad         2
33                           Crispy Tacos         2
26      Chips and Mild Fresh Tomato Salsa         1
14                         Carnitas Salad         1
46                    Veggie Crispy Tacos         1

In [34]:
c.sort_values(['quantity'],ascending=False,inplace=True)

In [35]:
c

                                item_name  quantity
17                           Chicken Bowl       761
18                        Chicken Burrito       591
25                    Chips and Guacamole       506
39                          Steak Burrito       386
10                      Canned Soft Drink       351
23                                  Chips       230
38                             Steak Bowl       221
6                           Bottled Water       211
24           Chips and Fresh Tomato Salsa       130
9                             Canned Soda       126
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
37                          Side of Chips       110
45                         Veggie Burrito        97
2                        Barbacoa Burrito        91
44                            Veggie Bowl        87
11                          Carnitas Bowl        71
1                           Barbacoa Bowl        66
12                       Carnitas Burrito        60
43                       Steak Soft Tacos        56
0                       6 Pack Soft Drink        55
30    Chips and Tomatillo Red Chili Salsa        50
19                   Chicken Crispy Tacos        50
29  Chips and Tomatillo Green Chili Salsa        45
16                    Carnitas Soft Tacos        40
40                     Steak Crispy Tacos        36
31  Chips and Tomatillo-Green Chili Salsa        33
42                       Steak Salad Bowl        31
35                       Nantucket Nectar        29
32    Chips and Tomatillo-Red Chili Salsa        25
5                     Barbacoa Soft Tacos        25
27     Chips and Roasted Chili Corn Salsa        23
34                                   Izze        20
48                      Veggie Salad Bowl        18
28     Chips and Roasted Chili-Corn Salsa        18
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
20                          Chicken Salad         9
13                  Carnitas Crispy Tacos         8
49                      Veggie Soft Tacos         8
8                                 Burrito         6
47                           Veggie Salad         6
15                    Carnitas Salad Bowl         6
7                                    Bowl         4
41                            Steak Salad         4
36                                  Salad         2
33                           Crispy Tacos         2
26      Chips and Mild Fresh Tomato Salsa         1
14                         Carnitas Salad         1
46                    Veggie Crispy Tacos         1

In [37]:
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [39]:
# 共有多少种商品被下单
chipotle['item_name'].nunique()

50

In [40]:
# 购物的选择描述中-下单次数最多的商品是
chipotle['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [41]:
# 共有多少产品被下
chipotle['quantity'].sum()

4972

In [43]:
# 将item_price转换为浮点数
dollarizer = lambda x :float(x[1:-1])
chipotle['item_price'] = chipotle['item_price'].apply(dollarizer)

In [44]:
chipotle['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [49]:
chipotle['sub_total'] = round(chipotle['item_price'] * chipotle['quantity'] ,2)

In [51]:
# 累计收入是多少
chipotle['sub_total'].sum()

39237.02

In [52]:
# 共有多少订单
chipotle['order_id'].nunique()

1834

In [58]:
# 每一单对应的总价
chipotle[['order_id','sub_total']].groupby(by=['order_id']).agg({'sub_total':'sum'})

          sub_total
order_id
1             11.56
2             33.96
3             12.67
4             21.00
5             13.70
6             17.50
7             15.70
8             10.88
9             12.85
10            13.20
11            12.38
12            14.37
13            10.88
14            10.08
15            10.88
16            10.68
17            10.08
18            24.90
19            13.90
20            36.20
21            23.36
22            12.98
23            13.35
24            12.07
25            11.38
26            20.50
27            13.90
28            33.70
29            17.98
30            23.36
...             ...
1805          20.00
1806          13.00
1807          18.64
1808          13.70
1809          14.45
1810          23.00
1811          29.25
1812          25.00
1813          35.00
1814          13.70
1815          12.50
1816          13.20
1817          13.00
1818          18.14
1819          13.20
1820          12.50
1821          13.70
1822          26.00
1823          12.15
1824          26.95
1825          66.50
1826          15.95
1827          32.95
1828          14.45
1829          24.25
1830          23.00
1831          12.90
1832          13.20
1833          23.50
1834          28.75

[1834 rows x 1 columns]

In [59]:
# 每单订单的平均总价
chipotle[['order_id','sub_total']].groupby(by=['order_id']).agg({'sub_total':'sum'})['sub_total'].mean()

21.39423118865867

In [60]:
# 共有多少中商品被售出
chipotle['item_name'].nunique()

50